<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>PorjetESIEE</servlet-name>
		<servlet-class>com.SI.PorjetESIEEServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PorjetESIEE</servlet-name>
		<url-pattern>/porjetesiee</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>createUser</servlet-name>
		<servlet-class>com.SI.createUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>createUser</servlet-name>
		<url-pattern>/createUser</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AcceptRequest</servlet-name>
		<servlet-class>com.SI.AcceptRequest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AcceptRequest</servlet-name>
		<url-pattern>/AcceptRequest</url-pattern>
	</servlet-mapping>
		
	<servlet>
		<servlet-name>connectUser</servlet-name>
		<servlet-class>com.SI.connectUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>connectUser</servlet-name>
		<url-pattern>/connectUser</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AddRequest</servlet-name>
		<servlet-class>com.SI.AddRequest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddRequest</servlet-name>
		<url-pattern>/AddRequest</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>editProj</servlet-name>
		<servlet-class>com.SI.editProj</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>editProj</servlet-name>
		<url-pattern>/editProj</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>editreq</servlet-name>
		<servlet-class>com.SI.editreq</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>editreq</servlet-name>
		<url-pattern>/editreq</url-pattern>
	</servlet-mapping>
	<servlet>
	
	<servlet-name>suppuser</servlet-name>
		<servlet-class>com.SI.suppuser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>suppuser</servlet-name>
		<url-pattern>/suppuser</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>suppreq</servlet-name>
		<servlet-class>com.SI.suppreq</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>suppreq</servlet-name>
		<url-pattern>/suppreq</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>suppProj</servlet-name>
		<servlet-class>com.SI.suppProj</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>suppProj</servlet-name>
		<url-pattern>/suppProj</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>GetAccountInfo</servlet-name>
		<servlet-class>com.SI.GetAccountInformation</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetAccountInfo</servlet-name>
		<url-pattern>/GetAccountInfo</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>ModificationCompte</servlet-name>
		<servlet-class>com.SI.ModificationCompte</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ModificationCompte</servlet-name>
		<url-pattern>/ModificationCompte</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>GetRequest</servlet-name>
		<servlet-class>com.SI.GetRequest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetRequest</servlet-name>
		<url-pattern>/GetRequest</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
